* {
    font-family: Arial, Helvetica, sans-serif;    
}

body {
    background-color: #060c24;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: white;
    align-self: center;
}

form {
    align-self: center;
    display: flex;
    flex-direction: column;
}

button {
    display: block;
    align-self: center;
    margin: 10px;
    font-size: 20px;
    padding: 5px;
}

.resposta {
    display: flex;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
    width: 500px;
    align-self: center;
}

.resposta > p, a {
    align-self: center;
    display: block;
    margin: 0 auto;
    padding: 5px;
}