<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>URL Shortener</h1>
    <form method="POST" action="/">
        <input
            type="url"
            name="url"
            placeholder="Cole a URL aqui"
            required
        >
        <button type="submit">Encurtar</button>
    </form>
    
    {% if url_encurtada %} 
        <p> URL encurtada: 
            <a href="{{ url_encurtada }}" target="_blank"> {{ url_encurtada }} </a> 
        </p> 
    {% endif %}

</body>
</html>